@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ff8200;
  --secondary: #d3d3d3;
}

body {
  @apply bg-gray-50 font-sans;
}

.button-primary {
  @apply px-6 py-3 bg-[#ff8200] text-white rounded-lg shadow hover:shadow-lg;
}

.button-secondary {
  @apply px-6 py-3 bg-gray-300 text-gray-700 rounded-lg shadow hover:shadow-md;
}
